In [64]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import requests
from bs4 import BeautifulSoup
import scrapy
import ssl
pd.set_option('display.max_columns',None)

In [18]:
url_page = "https://www.hockey-reference.com/leagues/NHL_2022_games.html"

In [19]:
soup = BeautifulSoup(url_page, 'html.parser')

In [42]:
ssl._create_default_https_context = ssl._create_unverified_context
hockey_table = pd.read_html(url_page)

In [43]:
type(hockey_table)

list

In [51]:
hockey_results1 = hockey_table[0]

In [52]:
hockey_results2 = hockey_table[1]

In [60]:
hockey_results1['winner'] =None
hockey_results1['loser'] =None
hockey_results1['total_goals']=hockey_results1['G']+hockey_results1['G.1']
hockey_results1['scor_dif']=abs(hockey_results1['G']-hockey_results1['G.1'])
for i in range(len(hockey_results1)):
    if hockey_results1['G'].iloc[i] > hockey_results1['G.1'].iloc[i]:
        hockey_results1['winner'].iloc[i] = hockey_results1['Visitor'].iloc[i]
        hockey_results1['loser'].iloc[i] = hockey_results1['Home'].iloc[i]
    elif hockey_results1['G'].iloc[i] < hockey_results1['G.1'].iloc[i]:
        hockey_results1['winner'].iloc[i] = hockey_results1['Home'].iloc[i]
        hockey_results1['loser'].iloc[i] = hockey_results1['Visitor'].iloc[i]
hockey_results1['month'] = hockey_results1['Date'].map(lambda x:pd.to_datetime(x).month)
hockey_results1['day'] = hockey_results1['Date'].map(lambda x:pd.to_datetime(x).day)
hockey_results1['year'] = hockey_results1['Date'].map(lambda x:pd.to_datetime(x).year)

In [62]:
hockey_results1.head()

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Notes,winner,total_goals,scor_dif,month,loser,day,year
0,2021-10-12,Pittsburgh Penguins,6,Tampa Bay Lightning,2,NaN,19092.0,2:33,NaN,Pittsburgh Penguins,8,4,10,Tampa Bay Lightning,12,2021
1,2021-10-12,Seattle Kraken,3,Vegas Golden Knights,4,NaN,18431.0,2:25,NaN,Vegas Golden Knights,7,1,10,Seattle Kraken,12,2021
2,2021-10-13,Winnipeg Jets,1,Anaheim Ducks,4,NaN,16260.0,2:29,NaN,Anaheim Ducks,5,3,10,Winnipeg Jets,13,2021
3,2021-10-13,Chicago Blackhawks,2,Colorado Avalanche,4,NaN,18037.0,2:32,NaN,Colorado Avalanche,6,2,10,Chicago Blackhawks,13,2021
4,2021-10-13,Vancouver Canucks,2,Edmonton Oilers,3,SO,16034.0,2:42,NaN,Edmonton Oilers,5,1,10,Vancouver Canucks,13,2021

In [70]:
hockey_results1=hockey_results1.iloc[:,-7:]

In [73]:
hockey_results2

,Date,Visitor,G,Home,G.1,Unnamed: 5,Att.,LOG,Notes,winner,loser,total_goals,scor_dif
0,2022-05-02,Los Angeles Kings,4,Edmonton Oilers,3,NaN,18347,2:37,NaN,Los Angeles Kings,Edmonton Oilers,7,1
1,2022-05-02,Boston Bruins,1,Carolina Hurricanes,5,NaN,18680,2:40,NaN,Carolina Hurricanes,Boston Bruins,6,4
2,2022-05-02,Tampa Bay Lightning,0,Toronto Maple Leafs,5,NaN,19338,2:40,NaN,Toronto Maple Leafs,Tampa Bay Lightning,5,5
3,2022-05-02,St. Louis Blues,4,Minnesota Wild,0,NaN,19053,2:30,NaN,St. Louis Blues,Minnesota Wild,4,4
4,2022-05-03,Dallas Stars,0,Calgary Flames,1,NaN,19289,2:31,NaN,Calgary Flames,Dallas Stars,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2022-06-18,Tampa Bay Lightning,0,Colorado Avalanche,7,NaN,17849,2:33,NaN,Colorado Avalanche,Tampa Bay Lightning,7,7
85,2022-06-20,Colorado Avalanche,2,Tampa Bay Lightning,6,NaN,19092,2:50,NaN,Tampa Bay Lightning,Colorado Avalanche,8,4
86,2022-06-22,Colorado Avalanche,3,Tampa Bay Lightning,2,OT,19092,3:05,NaN,Colorado Avalanche,Tampa Bay Lightning,5,1
87,2022-06-24,Tampa Bay Lightning,3,Colorado Avalanche,2,NaN,18015,2:42,NaN,Tampa Bay Lightning,Colorado Avalanche,5,1
88,2022-06-26,Colorado Avalanche,2,Tampa Bay Lightning,1,NaN,19092,2:29,NaN,Colorado Avalanche,Tampa Bay Lightning,3,1

In [74]:
hockey_results2
hockey_results2['winner'] =None
hockey_results2['loser'] =None
hockey_results2['total_goals']=hockey_results2['G']+hockey_results2['G.1']
hockey_results2['scor_dif']=abs(hockey_results2['G']-hockey_results2['G.1'])
for i in range(len(hockey_results2)):
    if hockey_results2['G'].iloc[i] > hockey_results2['G.1'].iloc[i]:
        hockey_results2['winner'].iloc[i] = hockey_results2['Visitor'].iloc[i]
        hockey_results2['loser'].iloc[i] = hockey_results2['Home'].iloc[i]
    elif hockey_results2['G'].iloc[i] < hockey_results2['G.1'].iloc[i]:
        hockey_results2['winner'].iloc[i] = hockey_results2['Home'].iloc[i]
        hockey_results2['loser'].iloc[i] = hockey_results2['Visitor'].iloc[i]
hockey_results2['month'] = hockey_results2['Date'].map(lambda x:pd.to_datetime(x).month)
hockey_results2['day'] = hockey_results2['Date'].map(lambda x:pd.to_datetime(x).day)
hockey_results2['year'] = hockey_results2['Date'].map(lambda x:pd.to_datetime(x).year)

In [75]:
hockey_results2=hockey_results2.iloc[:,-7:]

In [77]:
hockey_results2.head()

,winner,loser,total_goals,scor_dif,month,day,year
0,Los Angeles Kings,Edmonton Oilers,7,1,5,2,2022
1,Carolina Hurricanes,Boston Bruins,6,4,5,2,2022
2,Toronto Maple Leafs,Tampa Bay Lightning,5,5,5,2,2022
3,St. Louis Blues,Minnesota Wild,4,4,5,2,2022
4,Calgary Flames,Dallas Stars,1,1,5,3,2022

In [79]:
hockey_results1.head()

,winner,total_goals,scor_dif,month,loser,day,year
0,Pittsburgh Penguins,8,4,10,Tampa Bay Lightning,12,2021
1,Vegas Golden Knights,7,1,10,Seattle Kraken,12,2021
2,Anaheim Ducks,5,3,10,Winnipeg Jets,13,2021
3,Colorado Avalanche,6,2,10,Chicago Blackhawks,13,2021
4,Edmonton Oilers,5,1,10,Vancouver Canucks,13,2021